a {
    text-decoration: none;
    color: inherit;
}

header {
    box-shadow: 0rem 0rem 1rem -.5rem black;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}
.container h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 800;
}

.nav {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul, li {
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: 1rem;
}

.header ul li a:hover {
    color: #FF7000;
}

.social i {
    font-size: 1.8rem;
    margin: .2rem;
}
.fb, .tt {
    color: #005182;
}
.ig {
    color: #FF7000;
}

.badge-cart {
    background-color: #005182;
    margin: 5px;
    color: white;
    padding: 4px;
    border-radius: 10%;
}

.caeni {
    color: #005182;
}
.store {
    color: #FF7000;
}