<header class="header">
    <nav id="nav">
        <div class="container">
            <h1>
                <a routerLink="produtos"><span class="caeni">Caeni</span><span class="store">Store</span></a>
            </h1>
            <ul class="menu">
                <li><a routerLink="produtos">Produtos</a></li>
                <li><a routerLink="contato">Contato</a></li>
                <li><a routerLink="carrinho"><i class="fa-solid fa-cart-shopping"></i>Carrinho<span class="badge-cart">{{ carrinhoService.obtemCarrinho().length }}</span></a></li>
            </ul>
            <div class="social">
                <a href="#"><i class="fa-brands fa-square-facebook fb"></i></a>
                <a href="#"><i class="fa-brands fa-instagram ig"></i></a>
                <a href="#"><i class="fa-brands fa-square-twitter tt"></i></a>
            </div>
        </div>
    </nav>
</header>