form {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

input {
    width: 40%;
    height: 2.5rem;
    background-color: var(--light-gray);
    border: 1px solid var(--blue);
}

button {
    width: 40px;
    background-color: var(--blue);
    border:none;
    color: #fff;
    font-size: 22px;
}